<% if current_user.admin? %>
  <% @results.each do |post| %>
      <div class="clever post">
        <% if post["type"] %>
            <div class="ribbon-wrapper">
              <div class="corner">
                <span href="#"><%= post["type"] %></span>
              </div>
            </div>
          <% end %>
          <div class="info row">
            <div class="col-3 pict">
              <% if post["picture"] %>
                <%= image_tag post["picture"], class: "responsive" %>
              <% end %>
            </div>
            <div class="col-5 msg">
              <%= post["message"] %>
            </div>
            <div class="col-4 row sta">
              <div class="col-2"></div>
              <div class="col-10">
                <% @classifier.classifications("#{post["message"]}").each do |option| %>
                  <div class="stats clearfix"> <div class="nam"> <%= "#{option[0]}ness: " %> </div> <div class="numb"><%= "#{option[1].round(2)}" %></div></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <%= link_to "Cheesy", classify_user_path(type: "cheesy", pid: post["id"], message: post["message"]) %>
        <%= link_to "Clever", classify_user_path(type: "clever", pid: post["id"], message: post["message"]) %>
        <%= link_to "Cool", classify_user_path(type: "cool", pid: post["id"], message: post["message"]) %>
      </div>
    <% end %>
<% else %>
  <ul class="navigation inline" style="margin: 0 auto; width: 13em;" data-tabu data-start-index="1">
    <li><a href="#clever">clever</a></li>
    <li><a href="#cool">cool</a></li>
    <li><a href="#cheesy">cheesy</a></li>
  </ul>
  <div class="tabu-content">
    <div class="content" id="clever">
      <% @results_clever.each do |post| %>
        <div class="clever post">
          <% if post["type"] %>
            <div class="ribbon-wrapper">
              <div class="corner">
                <span href="#"><%= post["type"] %></span>
              </div>
            </div>
          <% end %>
          <div class="info row">
            <div class="col-3 pict">
              <% if post["picture"] %>
                <%= image_tag post["picture"], class: "responsive" %>
              <% end %>
            </div>
            <div class="col-5 msg">
              <%= post["message"] %>
            </div>
            <div class="col-4 row sta">
              <div class="col-2"></div>
              <div class="col-10">
                <% @classifier.classifications("#{post["message"]}").each do |option| %>
                  <div class="stats clearfix"> <div class="nam"> <%= "#{option[0]}ness: " %> </div> <div class="numb"><%= "#{option[1].round(2)}" %></div></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="content" id="cool">
      <% @results_cool.each do |post| %>
        <div class="cool post">
          <% if post["type"] %>
            <div class="ribbon-wrapper">
              <div class="corner">
                <span href="#"><%= post["type"] %></span>
              </div>
            </div>
          <% end %>
          <div class="info row">
            <div class="col-3 pict">
              <% if post["picture"] %>
                <%= image_tag post["picture"], class: "responsive" %>
              <% end %>
            </div>
            <div class="col-5 msg">
              <%= post["message"] %>
            </div>
            <div class="col-4 row sta">
              <div class="col-2"></div>
              <div class="col-10">
                <% @classifier.classifications("#{post["message"]}").each do |option| %>
                  <div class="stats clearfix"> <div class="nam"> <%= "#{option[0]}ness: " %> </div> <div class="numb"><%= "#{option[1].round(2)}" %></div></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="content" id="cheesy">
      <% @results_cheesy.each do |post| %>
        <div class="cheesy post">
          <% if post["type"] %>
            <div class="ribbon-wrapper">
              <div class="corner">
                <span href="#"><%= post["type"] %></span>
              </div>
            </div>
          <% end %>
          <div class="info row">
            <div class="col-3 pict">
              <% if post["picture"] %>
                <%= image_tag post["picture"], class: "responsive" %>
              <% end %>
            </div>
            <div class="col-5 msg">
              <%= post["message"] %>
            </div>
            <div class="col-4 row sta">
              <div class="col-2"></div>
              <div class="col-10">
                <% @classifier.classifications("#{post["message"]}").each do |option| %>
                  <div class="stats clearfix"> <div class="nam"> <%= "#{option[0]}ness: " %> </div> <div class="numb"><%= "#{option[1].round(2)}" %></div></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="navigation">
  <div class="prev button large primary btn">
    <%= link_to 'Previous', url_for(:page => @posts.previous_page_params) %>
  </div>

  <div class="next button large primary btn">
    <%= link_to 'Next', url_for(:page => @posts.next_page_params) %>
  </div>
</div>
